---
import '@assets/assets/styles/styles.css'
import Card from './Card.astro'
import About from '@components/about/About.astro'
---

<div class="main__content">
    <About></About>
    <Card />
</div>