---
import "@assets/assets/styles/styles.css";
import Card from "./Card.astro";
import About from "@components/about/About.astro";
import Experience from "@components/about/Experience.astro";
---

<div class="main__content">
    <About />
    <Experience />
    <Card />
</div>
