<div class="container__about">
    <div class="about">
        <span class="card__tag">Disponible para trabajar</span>
        <h1 class="h__welcome">¡Hey!, soy Santiago Bohorquez Alzate</h1>
        <p class="about__text">
            4 Años de experiencia como <span class="text__decorate"
                >Tecnólogo Profesional</span
            > en el sector tecnológico, experiencia con Javascript y creación de
            API Rest bajo metodologías y arquitecturas agiles. Motivado a aprender
            constantemente y seguir en constante crecimiento.
            <br /><span class="text__decorate"
                >Lenguaje Principal (Javascript):</span
            > Nodejs, Programación orientada a objetos, Microservicios, API, REST,
            Json Web Token (Autorización y Autenticación).
            <br /><span class="text__decorate">Bases de Datos:</span> Postgres, MYSQL,
            Oracle SQL, MongoDB.
            <br /><span class="text__decorate">Control de versionamiento:</span>
            Git, Github.
            <br /><span class="text__decorate"
                >Otros lenguajes y tecnologías:</span
            > PHP, Java, React, HTML, CSS, Node Js, Postman, Bootstrap, SCRUM.
        </p>
    </div>
</div>
