---
import "../../public/assets/styles/styles.css";
import Contact from './Contact-info.astro'
---

<aside>
    <ul>
        <li>
            <img class="perfil-image" src="santi.jpg" alt="Santiago" />
        </li>
        <li>
            <Contact />
        </li>
    </ul>
    
</aside>
