---
import "../../public/assets/styles/styles.css";
---

<section class="section-header">
  <h2 class="name">Santiago Bohorquez Alzate</h2>
  <h2 class="role-name">Desarrollador Web</h2>
</section>
<section class="section-header-secondary">
  <ul>
    <li class="image-container">
      <img class="icon-contact" src="email.png" alt="" />
      <div class="label-container">
        <label for="emailtag" class="labels-contact"> Email </label>
        <label for="email" class="labels-contact"> Santyboal2@gmail.com </label>
      </div>
    </li>
    <li class="image-container">
      <img class="icon-contact" src="phone.png" alt="" />
      <div class="label-container">
        <label for="celulartag" class="labels-contact"> Celular </label>
        <label for="celular" class="labels-contact"> +57 3045461170 </label>
      </div>
    </li>
    <li class="image-container">
      <img class="icon-contact" src="calendar.png" alt="" />
      <div class="label-container">
        <label for="cumpleañostag" class="labels-contact"> Cumpleaños </label>
        <label for="cumpleaños" class="labels-contact"> 03-09-1998 </label>
      </div>
    </li>
    <li class="image-container">
      <img class="icon-contact" src="location.png" alt="" />
      <div class="label-container">
        <label for="ubicaciontag" class="labels-contact"> Ubicación </label>
        <label for="ubicacion" class="labels-contact">
          Medellín, Antioquia
        </label>
      </div>
    </li>
  </ul>
  <div class="container-contact--links">
    <a
      href="https://www.linkedin.com/in/santiago-bohorquez-alzate-41710a1ba/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="linkedin.png" alt="Linkedin" class="image-link--linkedin" />
    </a>
  </div>
  <div class="container-contact--links">
    <a
      href="https://github.com/SantiagoBA98?tab=repositories"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img src="github.png" alt="Linkedin" class="image-link--github" />
    </a>
  </div>
</section>
