@media(max-width: 1130px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Onest Variable', system-ui, sans-serif;
    }

    .main {
        margin: 0 auto;
    }


    .main__aside {
        display: none;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        margin-left: 4vw;
    }

    .container__about {
        width: 90vw;
        margin-right: 1rem;
    }

    .projects {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .card {
        display: flex;
        flex-direction: column;
        width: 90vw;
        overflow: auto;
        background-color: transparent;
        opacity: .9;
    }

    .about__text {
        text-align: justify;
    }

    .container__text--experience {
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: fit-content;
    }

    .experience__line {
        position: relative;
        width: 2px;
        height: 230px;
        background-color: #999999;
      }

      .experience__text{
        justify-content: center;
      }
}