* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Onest Variable', 'Roboto' system-ui, sans-serif;
}

.main {
  display: flex;
  flex-direction: row;
  font-family: 'Onest Variable', 'Roboto' system-ui, sans-serif;
  width: 100%;
  height: 100vh;
  background: #FFFFFF;
}

.main__content {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: fit-content;
  margin-left: 30vw;
  margin-top: 5vh;
  /*border: 1px solid black;*/
}

.main__aside {
  display: flex;
  flex-direction: row;
}

.contact {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20vw;
  height: 80vh;
  margin: 10vh auto 10vh 2.5vw;
  padding: 10px;
  border-radius: 5%;
  background: linear-gradient(to bottom, #999999, #FFFFFF);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container__personal--info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;

  & .name {
    font-weight: bold;
    color: #494343;
  }

  & .rol {
    font-weight: 500;
    color: #494343;
  }

}

.contact__photo {
  width: 60%;
  height: 32%;
  padding: 0.5rem;
  border-radius: 100%;
}

.container__info {
  display: flex;
  margin-left: 0.5rem;
  margin-top: 0.1rem;
}

.container__info--icon {
  border-radius: 100%;
  background-color: #494343;
  align-items: center;
  height: 15%;
  width: 15%;
  margin-top: 0.2rem;

  & img {
    transform: translateY(5%);
    width: 100%;
  }
}

.container__data {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 0.9rem;
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  color: #494343;
}

.container__links {
  display: flex;
  flex-direction: row;

  & a img {
    width: 2.604vw;
    height: 2.604vw;
    margin-top: 1.9vw;
    margin-left: 3.958vw;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 5%;
  background: #FFFFFF;
  /*box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;*/
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  & .card__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    & .card__tag {
      background: green;
      font-weight: bold;
      border-radius: 10%;
      padding: 0.2rem;
    }
  }

  & .card__description {
    margin-top: 1.2rem;
  }

  & .card__video {
    margin: 0 auto;
  }
}